# Secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
./ergo_agent/__pycache__
# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
ergonomic_assessment_results_with_version_3.json

# Virtual environment
.venv/

testing_images/.DS_Store