flask
langgraph
langchain-core
pandas
openpyxl
python-dotenv
pillow
flask-limiter 
flask_cors
Werkzeug
filetype
waitress
requests
langchain_google_genai
streamlit==1.32.0
typing-extensions
streamlit   